<div class="container search-bar">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      SEQRRCH
    </div>
    <div class="col-xs-12 col-sm-4 text-right">
      <%= link_to 'Filters' , '#', id: 'js-show-more-filters-button', class: 'btn btn-default' %>
    </div>
  </div>
</div>


<%= form_tag "/admin/assets", method: :get, remote: true, id: 'js-show-more-filters-content', class: 'filter-panel' do  %>

    <div class="row border-bot-first">
      <div class="col-lg-9">
          <div class="col-lg-2">
            <div class="filter-label">
              <p>Basic Filters</p>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="findaroof-filter-form-group">
              <%= label_tag(:price, nil, class: 'findaroof-form-label') %>
              <%= number_field_tag(:query_price_min, nil, placeholder: "min", class: 'findaroof-filter-form')%>
              <%= number_field_tag(:query_price_max, nil, placeholder: "max", class: 'findaroof-filter-form')%>
            </div>
          </div>
        </div>
      </div>
    <div class="row border-bot">
        <div class="col-lg-8">
          <div class="findaroof-filter-form-group">
            <%= label_tag('Address for radius search', nil, class: 'findaroof-form-label') %>
            <%= text_field(:asset, :address, placeholder: "Enter the address", class: 'findaroof-filter-form-autowidth')%>
            <%= text_field(:asset, :city, placeholder: "City", class: 'findaroof-filter-form-autowidth')%>
            <%= text_field(:asset, :post_code, placeholder: "Postcode", class: 'findaroof-filter-form-autowidth')%>
            <%= text_field(:asset, :country, placeholder: "Country", class: 'findaroof-filter-form-autowidth')%>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="findaroof-filter-form-group">
            <%= label_tag('Radius', nil, class: 'findaroof-form-label') %>
            <%= text_field_tag(:radius, nil, placeholder: "Ex - 10km or 10mi", class: 'findaroof-filter-form-autowidth') %>
          </div>
        </div>
    </div>
    <div class="row border-bot">
      <div class="col-lg-9">
        <div class="findaroof-filter-form-group">
          <%= label_tag('City', nil, class: 'findaroof-form-label') %>
          <%= select_tag('city', options_for_select(@assets.map{ |a| a.city}.uniq), :prompt => "Please select city", class: 'findaroof-filter-dropdown')%>
          <%= label_tag('Country', nil, class: 'findaroof-form-label') %>
          <%= select_tag('country', options_for_select(@assets.map{ |a| a.country}.uniq), :prompt => "Please select country",  class: 'findaroof-filter-dropdown')%>
          <%=label_tag('Enable polygon search', nil, class: 'findaroof-form-label') %>
          <%=check_box_tag('polygon')%>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="findaroof-filter-form-group">
          <%= submit_tag("Apply Filters", id: 'findaroof-ajax-button')%>
        </div>
      </div>
    </div>

<% end %>

<div id="results">
  <div class="left-half-map">
    <div id="map" style="width: 100%; height: 100vh;"></div>
      <% content_for(:after_js) do %>
          <script>
          $(document).ready(function() {
            initMap(getMarkers());
          });
        </script>
      <% end %>
    </div>
  <div id="right-half-listings">
    <%= render(:partial => 'assets', locals: {assets: @assets}) %>
  </div>
</div>
