<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 post-form-title-grey">
      <h1 class="findaroof-title">Sign up</h1>
    </div>
  </div>

  <div class="row">
      <div class="col-lg-10 col-lg-offset-1 new-asset-grey">
   <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <div class="row asset-border">
          <div class="col-lg-4">
            <%= f.input :first_name, label: 'First Name', required: true, autofocus: true, label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
          </div>
          <div class="col-lg-4">
            <%= f.input :last_name, label: 'Last Name', required: true, autofocus: true, label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
          </div>
          <div class="col-lg-4">
            <%= f.input :birthdate, label: 'Date of Birth', required: true, autofocus: true, start_year: Date.today.year - 12, end_year: Date.today.year - 100, order: [:day, :month, :year], label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field-dropdown"} %>
          </div>
        </div>
        <div class="row asset-border">
          <div class="col-lg-4">
            <%= f.input :email, required: true, autofocus: true, label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
          </div>
          <div class="col-lg-4">
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: "new-asset-form-label", label_html: {class: "new-asset-form-label"}, wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
          </div>
          <div class="col-lg-4">
            <%= f.input :password_confirmation, required: true, lass: "new-asset-form-label", label_html: {class: "new-asset-form-label"}, wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
          </div>
        </div>
        <div class="row asset-border">
          <div class="col-lg-6">
            <%= f.input :photo, label_html: {class: "new-asset-form-label"}, wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
          </div>
          <div class="col-lg-6">
            <%= f.input :photo_cache, as: :hidden, label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
          </div>
        </div>
        <div class="row asset-border">
            <div class="col-lg-8">
              <%= f.button :submit, "Sign up", class: "btn btn-primary new-asset-submit-btn" %>
              <%= render "devise/shared/links" %>
            </div>
        </div>
      </div>
  <% end %>
  </div>
</div>



