<div class="container">
  <div class="panel">
  <div>
    <%= image_tag("", class: "img-circle img-thumbnail")%>
  </div>
    <h3> <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h3>
    <i><%= @user.email %></i>
      <table class="table table-user-information">
      <div >
        <tbody class="container" style = "height: 200px; width: 100px;"">
                      <tr>
                        <td></td>
                        <td><%=@user.id %></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><%=%></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                      </tr>

                       <tr>
                        <td></td>
                        <td><%=  %></td>
                      </tr>

                      <tr>
                        <td></td>
                        <td><%=  %></td>
                      </tr>

                        <tr>
                          <td></td>
                          <td><%=%></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td><%=  %></td>
                        </tr>
        </div>


          </tbody>
        </table>

      <div>
        <a><%= link_to 'My Assets', user_assets_path(user_id: @user), {class: "btn btn-primary"} %></a> <a><%= link_to('My Offers', user_offers_path(user_id: current_user.id), {class: "btn btn-primary"}) %></a>
      </div>
  </div>

</div>
