<h1><%= @user.first_name %>'s profile</h1>

<% if @user.assets.size == 0 %>
  <h2> Sorry, <%= @user.first_name %> has no assets for sale! </h2>
<% else %>
  <h2> <%= @user.first_name %> has <%= @user.assets.size %> assets for sale.</h2>
  <h3> <%= link_to('Check them out!', user_assets_path(user_id: @user.id), class: "navbar-wagon-item navbar-findaroof-link")%>
<% end %>
