<div class="navbar-wagon">

  <!-- Left Navigation -->
  <div class="navbar-findaroof-left hidden-xs hidden-sm">
    <!-- Logo -->
    <a href="/" class="navbar-findaroof-brand-link">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="82px" height="90px" viewBox="0 0 82 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
          <title>noun_708246_cc</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="noun_708246_cc" fill="#333333">
                  <polygon id="Shape" points="47.3 86.6 59.9 84.7 60.1 57.4 47.4 59.3"></polygon>
                  <polygon id="Shape" points="53.9 13 28 0 0.4 33.4 0.7 74.7 25.6 90 30.7 89.2 30.7 49.1 53.9 20.9 76.5 42.5 76.2 82.2 81.2 81.4 81.6 39.6"></polygon>
              </g>
          </g>
      </svg>
    </a>

    <!-- Text link -->
    <!-- We need a link for all assets when user is not logged in -->
    <% if current_user %>
        <%= link_to('Buy', admin_assets_path, class: "navbar-wagon-item navbar-findaroof-link")%>
        <%= link_to('Sell', new_user_asset_path(user_id: current_user.id), class: "navbar-wagon-item navbar-findaroof-link")%>
        <%= link_to('My Assets', user_assets_path(user_id: current_user.id), class: "navbar-wagon-item navbar-findaroof-link") %>
    <% else %>
        <%= link_to('Buy', admin_assets_path, class: "navbar-wagon-item navbar-findaroof-link")%>
        <%= link_to('Sell', new_user_registration_path, class: "navbar-wagon-item navbar-findaroof-link")%>
    <% end %>
  </div>


  <!-- Right Navigation -->
  <div class="navbar-findaroof-right hidden-xs hidden-sm">

    <% unless @show_search %>
      <!--Search-->
      <%= form_tag "/admin/assets", method: :get, class: 'navbar-wagon-search' do  %>
      <%= text_field_tag(:query, nil, class: 'navbar-wagon-search-input')%>
      <%= button_tag(fa_icon("search"), class: 'navbar-wagon-search-btn')%>
      <% end %>
    <% end %>

      <!-- Text link -->
    <% if current_user %>
      <!-- Notification link-->
      <!-- <a href="" class="navbar-wagon-item navbar-findaroof-link">
        <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-blue"></div>
        </div>
      </a> -->

           <!-- Profile picture and dropdown -->

      <div class="navbar-wagon-item">
        <div class="dropdown">

        <% if current_user.facebook_picture_url.nil? %>
          <img class="navbar-avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" src=<%= cloudinary_url(current_user.photo, :crop => :fill, :width => 50, :height => 50) %>
        <% else %>
          <img class="navbar-avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" src=<%= current_user.facebook_picture_url%>>
        <% end %>>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to('Profile', profile_user_path)%></li>
            <li><%= link_to('Dashboard', dashboard_user_path)%></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "navbar-wagon-item navbar-findaroof-link") %></li>
          </ul>
        </div>
      </div>

    <% else %>
      <%= link_to('Login', new_user_session_path, class: "navbar-wagon-item navbar-findaroof-link")  %>
      <%= link_to('Sign-up', new_user_registration_path, class: "navbar-wagon-item navbar-findaroof-link") %>
    <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if current_user %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "navbar-wagon-item navbar-findaroof-link") %>
          <li><%= link_to('Buy', admin_assets_path, class: "navbar-wagon-item navbar-findaroof-link")%></li>
          <li><%= link_to('Sell', new_user_asset_path(user_id: current_user.id), class: "navbar-wagon-item navbar-findaroof-link")%></li>
          <li><%= link_to('My Assets', user_assets_path(user_id: current_user.id), class: "navbar-wagon-item navbar-findaroof-link") %></li>
          <a href="" class="navbar-wagon-item navbar-findaroof-link">Offers</a>
        <% else %>
            <li><%= link_to('Buy', admin_assets_path, class: "navbar-wagon-item navbar-findaroof-link")%></li>
            <li><%= link_to('Sell', new_user_registration_path, class: "navbar-wagon-item navbar-findaroof-link")%></li>
            <li><%= link_to('Login', new_user_session_path, class: "navbar-wagon-item navbar-findaroof-link")%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
