<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/400/400/city');">

  <div class="card-body">
    <h3 class = "text-center"><%= asset.title%></h3>
    <p class = "text-right" ><%= asset.address %></p>
    <p class="card-description">US$<%= asset.price * 1000.to_i %></p>
    <p class = "text-right"><%= asset.city %>-<%= asset.country %></p>
<!--     <p><%= asset.description %></p> -->

  </div>
    <p class="text-center"><%= link_to "See", user_asset_path(asset.user_id, asset.id), {class: "btn btn-primary"} %></p>
  </div>
