<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/400/400/city');">

  <div class="card-body">
    <h3 class = "text-center"><%= asset.description %></h3>
    <p class="card-description">US$<%= asset.price * 1000.to_i %></p>
    <p class = "text-right"><%= asset.city %>-<%= asset.country %></p>
  </div>
    <p class="text-center"><%= link_to "See", user_asset_path(asset.user_id, asset.id), {class: "btn btn-primary"} %></p>
  </div>
