<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/400/400/city');">

  <div class="card-body">
    <h2 class = "text-center"><%= asset.title%></h2>
    <p class ><%= asset.address %></p>
    <p><%= asset.price %></p>
    <p><%= asset.city %>-<%= asset.country %></p>
    <p><%= asset.description %></p>
  </div>
    <p class = "text-center"><%= link_to "See", user_asset_path(asset.user_id, asset.id), {class: "btn btn-primary"} %></p>
  </div>
