
<div id="box">
<div class="card" data-id="<%= asset.id %>" data-longitude="<%= asset.longitude %>" data-latitude="<%= asset.latitude %>">
  <%= link_to user_asset_path(asset.user_id, asset.id), class: "asset-link" do %>
      <% if asset.photos == nil %>
        <div class="card-picture" style="background-image: url(<%= cloudinary_url(asset.asset_photos.first.photo.identifier, :crop => :fill, :height => 380) %>);"></div>
        <%= link_to fa_icon("heart"), favorite_asset_path(type: "favorite", id: asset.id), method: :post, class: "overlay-right" %>
        <% if current_user %>
        <%= link_to fa_icon("minus-square"), favorite_asset_path(type: "unfavorite", id: asset.id), method: :post, class: "overlay-left" %>
        <% end %>
      <% else %>
        <div class="card-picture" style="background-image: url(<%= asset.photos %>);"></div>
        <%= link_to fa_icon("heart"), favorite_asset_path(type: "favorite", id: asset.id), method: :post, class: "overlay-right" %>
        <% if current_user %>
        <%= link_to fa_icon("minus-square"), favorite_asset_path(type: "unfavorite", id: asset.id), method: :post, class: "overlay-left" %>
        <% end %>
      <% end %>


    <div class="descridiv">
      <div class="descridiv-title">
        <h3 class="card-description-title"><%= asset.title %></h3>
      </div>
      <div class="descridiv-right-description">
        <p class="card-description-city-country"><%= asset.city %>, <%= asset.country %></p>
      </div>
      <div class="descridiv-left-price">
        <p class="card-description-price">€<%= asset.price %></p>
      </div>
    </div>
    <ul class="panelbody">
          <li>
            <i class="fa fa-bed 2x"></i> - <%= asset.bedrooms %></li>
          <li>
            <i class="fa fa-bath 2x"></i> - <%=asset.bathrooms%></li>
          <li>
            <i class="fa fa-car 2x"></i> - <%=asset.garage%></li>
          <li>
            <i class="fa fa-area-chart 2x"></i> - <%=asset.lots_size%> m2 </li>
    </ul>
    <% end %>
  </div>
</div>

