
  <%= simple_form_for [@user, @asset], input_html: {class: "new-asset-form"} do |f| %>
      <div class="row asset-border">
         <!--  <div class="findaroof-asset-form-group"> -->
            <div class="col-lg-4">
              <%= f.input :title, placeholder: 'Enter the name of your listing', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
            </div>
            <div class="col-lg-8">
              <%= f.input :description, as: :text, placeholder: 'Provide a description', label_html: {class: "new-asset-form-label"}, wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field-description"} %>
            </div>
      </div>
      <div class="row asset-border">
          <div class="col-lg-6">
              <%= f.input :address, placeholder: 'Enter the street address', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
          </div>
          <div class="col-lg-2">
              <%= f.input :city, placeholder: 'City', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
          </div>
          <div class="col-lg-2">
              <%= f.input :post_code, placeholder: 'Post code', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
          </div>
          <div class="col-lg-2">
              <%= f.input :country, placeholder: 'Country', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
          </div>
        </div>
      <div class="row asset-border">
        <div class="col-lg-3">
            <%= f.input :price, placeholder: 'Asking price', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
        </div>
        <div class="col-lg-3">
            <%= f.input :condition, placeholder: 'Condition', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
        </div>
        <div class="col-lg-3">
            <%= f.input :year_built, placeholder: 'Year built', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
        </div>
        <div class="col-lg-3">
            <%= f.input :year_reno, label: "Year renovated", placeholder: 'Year renovated', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
        </div>
      </div>
      <div class="row asset-border">
        <div class="col-lg-3">
          <%= f.input :bedrooms, placeholder: 'Bedrooms', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"}%>
        </div>
        <div class="col-lg-3">
          <%= f.input :bathrooms, placeholder: 'Bathrooms', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
        </div>
        <div class="col-lg-3">
          <%= f.input :garage, placeholder: 'Garage spots', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
        </div>
        <div class="col-lg-3">
          <%= f.input :lots_size, label: "Home size", placeholder: 'Home size sq m', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
        </div>
      </div>
      <div class="row asset-border">
          <div class="col-lg-6">
            <%= f.input :previous_owners, placeholder: 'Details on prior owners', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
          </div>
          <div class="col-lg-3">
            <%= f.input :status, placeholder: 'Ex. new listing', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
          </div>
          <div class="col-lg-3">
            <%= f.input :region, placeholder: 'Region info', label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
          </div>
      </div>
      <div class="row asset-border-last">
        <div class="col-lg-3">
          <%= f.simple_fields_for :asset_photo do |p| %>
            <div class="field">
              <%= p.file_field :photo, :multiple => true, name: "asset_photos[photo][]"  %>
              </div>
          <% end %>
        </div>
        <div class="col-lg-4">
          <%= f.submit "Add an asset", class: "btn btn-primary new-asset-submit-btn" %>
        </div>
      </div>
    <% end %>

