<div class="container padded-top", style="margin-bottom: 15px;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for [@user, @asset], :url => user_assets_path, :method => :post do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :post_code %>
      <%= f.input :country %>
      <%= f.input :condition %>
      <%= f.input :year_built %>
      <%= f.input :year_reno %>
      <%= f.input :bedrooms %>
      <%= f.input :bathrooms %>
      <%= f.input :garage %>
      <%= f.input :lots_size %>
      <%= f.input :previous_owners %>
      <%= f.input :status %>
      <%= f.input :region %>

      <%= f.simple_fields_for :asset_photo do |p| %>
        <div class="field">
          <%= p.file_field :photo, :multiple => true, name: "asset_photos[photo][]" %>
          </div>
      <% end %>

      <a class="text-center" "><%= f.submit "Add an asset", class: "btn btn-primary" %></a>

    <% end %>
    </div>
  </div>
</div>


<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDa1_F9P03aqg6R_dvBjy1q_DYfotr93UY"></script>
<% end %>
