<div class="container-fluid", style="margin-bottom: 15px;">
       <%= simple_form_for [@user, @asset] do |f| %>
      <div class="findaroof-asset-form-group">
        <%= f.input :title, placeholder: 'Enter the name of your listing' %>
        <%= f.input :description, placeholder: 'Provide a description' %>
      </div>
      <div class="findaroof-asset-form-group">
        <%= f.input :price %>
        <%= f.input :address %>
        <%= f.input :city %>
        <%= f.input :post_code %>
        <%= f.input :country %>
      </div>
      <div class="findaroof-asset-form-group">
        <%= f.input :condition %>
        <%= f.input :year_built %>
        <%= f.input :year_reno %>
      </div>
      <div class="findaroof-asset-form-group">
        <%= f.input :bedrooms %>
        <%= f.input :bathrooms %>
        <%= f.input :garage %>
        <%= f.input :lots_size %>
      </div>
      <div class="findaroof-asset-form-group">
      <%= f.input :previous_owners %>
      <%= f.input :status %>
      <%= f.input :region %>
      </div>
      <div class="findaroof-asset-form-group">
      <%= f.simple_fields_for :asset_photo do |p| %>
        <div class="field">
          <%= p.file_field :photo, :multiple => true, name: "asset_photos[photo][]" %>
          </div>
      <% end %>
      </div>
      <a class="text-center" "><%= f.submit "Add an asset", class: "btn btn-primary new-asset-submit-btn" %></a>

    <% end %>
    <%# raise %>
    </div>

</div>


<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDa1_F9P03aqg6R_dvBjy1q_DYfotr93UY"></script>
<% end %>
