<% if current_user %>
  <h1 class="text-center"> All Assets</h1>
   <p class = "text-center"><%= link_to "Add a new asset", new_user_asset_path, {class: "btn btn-primary"} %></p>
  <div class="container">
    <div class="row">
      <% @assets.each do |ass| %>
        <div class="col-xs-12 col-sm-4">
        <%= render "asset", asset: ass %>
        <div id="map" style="width: 100%; height: 100px;"></div>
          <% content_for(:after_js) do %>
            <%= javascript_tag do %>
              $(document).ready(function() {
                var handler = Gmaps.build('Google');
                handler.buildMap({ internal: { id: 'map' } }, function() {
                  markers = handler.addMarkers(<%= raw @hash.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  if (markers.length == 0) {
                    handler.getMap().setZoom(2);
                  } else if (markers.length == 1) {
                    handler.getMap().setZoom(14);
                  }
                });
              });
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <h1>All Assets for Sale</h1>
  <div class="container">
    <div class="row">
      <% @assets.each do |ass| %>
        <div class="col-xs-12 col-sm-4">
        <%= render "asset", asset: ass %>
        <div id="map" style="width: 100%; height: 100px;"></div>
          <% content_for(:after_js) do %>
            <%= javascript_tag do %>
              $(document).ready(function() {
                var handler = Gmaps.build('Google');
                handler.buildMap({ internal: { id: 'map' } }, function() {
                  markers = handler.addMarkers(<%= raw @hash.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  if (markers.length == 0) {
                    handler.getMap().setZoom(2);
                  } else if (markers.length == 1) {
                    handler.getMap().setZoom(14);
                  }
                });
              });
            <% end %>
          <% end %>
        </div>
        </div>
      <% end %>
    </div>
<% end %>


