<div class="showcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url();" >
  <h1 class="showcard-title"><%= @asset.title %></h1>
    <!-- <div class="container"> -->
    <div class="row showcard">
      <div class="col-xs-12 col-sm-4 showcard-body">
              <% if current_user %>
              <h1 class="showcard-title"><%@asset.title %></h1>
              <h3 class="showcard-user">from <%= link_to @asset.user.first_name, user_path(user_id: @user.id) %></h3>
              <p class="showcard-description">US$<%= @asset.price * 1000%></p>
              <p class="showcard-location"><%= @asset.address %> - <%= @asset.city %> - <%= @asset.country %></p>
              <p class="showcard-region"><%= @asset.region %></p>
              <% if current_user.id == @asset.user.id %>
                <p class="showcard-action2"><%= link_to "Edit Asset", edit_user_asset_path(user_id: @user.id), {class: "btn btn-primary"} %></p>
                <p class="showcard-action"><%= link_to "Delete Asset", user_asset_path(user_id: @user.id, method: :destroy), {class: "btn btn-primary"} %></p>
              <% else %>
                <p class="showcard-category"><%= link_to "Make Offer", new_user_asset_offer_path(asset_id: @asset.id), {class: "btn btn-primary"} %></p>
              <% end %>
            <% else %>
              <h1><% @asset.title %></h1>
              <h3 class="showcard-user">from <%= @asset.user.first_name %></h3>
              <p class="showcard-description">US$<%= @asset.price * 1000%></p>
              <p class="showcard-region" ><%= @asset.address %> - - <%= @asset.city %></p>
              <p class="showcard-category"><%= link_to "Make Offer", new_user_registration_path, {class: "btn btn-primary"} %></p>
            <% end %>
        </div>
    </div>
</div>
 <!--  </div> -->
<!-- </div>
 -->
