
<!-- <div class="container" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))" > -->
<div class="wrapper" style="background-color: #F4F4F4;">
  <h1 class="showcard-title"><%= @asset.title %></h1>
    <!-- <div class="container"> -->
  <div class="container">
    <div class="col-xs-12 col-sm-4 showcard-body">
      <div class="container" style="padding-top: 10px;">
        <% if current_user %>
          <h1 class="showcard-title"><%@asset.title %></h1>
          <% if current_user.id == @asset.user.id %>
            <% else %>
              <h3 class="showcard-user">from <%= link_to @asset.user.first_name, user_path(id: @asset.user.id) %></h3>
          <% end %>
          <p class="showcard-description">US$<%= @asset.price * 1000%></p>
          <p class="showcard-location"><%= @asset.address %> - <%= @asset.city %> - <%= @asset.country %></p>
          <p class="showcard-region"><%= @asset.region %></p>
          <% if current_user.id == @asset.user.id %>
            <p class="showcard-action2"><%= link_to "Edit Asset", edit_user_asset_path(user_id: @user.id), {class: "btn btn-primary"} %></p>
            <p class="showcard-action"><%= link_to "Delete Asset", user_asset_path(user_id: @user.id), class: "btn btn-primary", method: :delete %></p>
          <% else %>
            <p class="showcard-action"><%= link_to "Make Offer", new_user_asset_offer_path(asset_id: @asset.id), {class: "btn btn-primary"} %></p>
            <p class="showcard-action2"><%= link_to "Book an appointment", new_user_asset_appointment_path(asset_id: @asset.id), {class: "btn btn-primary"} %></p>
          <% end %>
        <% else %>
          <h1><% @asset.title %></h1>
          <h3 class="showcard-user">from <%= @asset.user.first_name %></h3>
          <p class="showcard-description">US$<%= @asset.price * 1000%></p>
          <p class="showcard-region" ><%= @asset.address %> - - <%= @asset.city %></p>
          <p class="showcard-action"><%= link_to "Make Offer", new_user_registration_path, {class: "btn btn-primary"} %></p>
         <% end %>
      </div>
    </div>
  </div>

  <div class="popup-gallery">
    <% @asset.asset_photos.each do |photo|%>
      <%= link_to asset_path(photo.photo.url) do %>
        <% cl_image_tag photo.photo, width: '300px', height: '250px' %>
      <% end %>
    <% end %>
  </div>

  <div class="describox">
    <div class="descript">
      <h4>On Findaroof for <%= time_ago_in_words @asset.created_at %></h4>
        <h2><%= @asset.title %></h2>
        <p>Description</p>
          <%= @asset.description %>
    </div>

    <div class="contabox" style="background-color: #FAFAFA">
      <div class="col-md-5">
        <div class="form-area">
            <form role="form">
            <br style="clear:both">
            <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
              <div class="form-group">
                <h5 class="form-control"><%= @asset.user.first_name %> <%= @asset.user.last_name %></h5>
              </div>
              <div class="form-group">
                <p class="form-control"><%= @asset.title %></p>
              </div>
              <div class="form-group">
                <p class="form-control">€ <%= @asset.price %></p>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
              </div>

  <div class="describox">
    <p>Description</p>
      <%= @asset.description %>
  </div>


 <div id="map" style="width: 0%; height: 200px; margin-top: 20px; margin-right: auto; margin-left: auto;"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);}
          });
        });
      <% end %>
    <% end %>

              <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
              </form>
          </div>
      </div>
    </div>
  </div>


