<div class="container">
  <div class="row">
    <div class="col-sm-8" data-id="<%=@asset.id%>" data-longitude="<%= @asset.longitude %>" data-latitude="<%= @asset.latitude %>">
      <h1>
        <%= @asset.title %>
        <% if current_user.id != @asset.user.id %>
          <p><small>from <%= link_to @asset.user.first_name, user_path(id: @asset.user.id) %></small></p>
        <% end %>
      </h1>
      <h6>On Findaroof for <%= time_ago_in_words @asset.created_at %></h6>
      <div class="row">
        <div class="col-sm-6">
          <p><%= @asset.address %></p>
          <p><%= @asset.city %> - <%= @asset.country %></p>
          <p><%= @asset.region %></p>
        </div>
        <div class="col-sm-6">
            <%=@asset.description%>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h1>US$<%= @asset.price%></h1>
      <ul class="list-unstyled">
        <% if !current_user %>
          <li><%= link_to "Make Offer", new_user_registration_path, {class: "btn btn-lg btn-pricing btn-info"} %></li>
        <% else %>
          <% if current_user.id == @asset.user.id %>
            <li><%= link_to "Edit Asset", edit_user_asset_path(user_id: @user.id), class: "btn btn-md btn-pricing btn-primary" %></li>
            <li><%= link_to "Delete Asset", user_asset_path(user_id: @user.id), class: "btn btn-md btn-pricing btn-danger", method: :delete %></li>

          <% else %>
            <li><%= link_to "Make Offer", new_user_asset_offer_path(asset_id: @asset.id), class: "btn btn-md btn-pricing btn-info" %></li>
            <li><%= link_to "Book an appointment", new_user_asset_appointment_path(asset_id: @asset.id), class: "btn btn-md btn-pricing btn-primary" %></li>
            <li><%= link_to "Favorite", favorite_asset_path(type: "favorite", id: @asset.id), method: :post, class: "btn btn-md btn-pricing btn-success"  %></li>
            <li><%= link_to "Unfavorite", favorite_asset_path(type: "unfavorite", id: @asset.id), method: :post, class: "btn btn-md btn-pricing btn-danger" %></li>

          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <%= render "popup_gallery" %>

  <div class="row">
    <div class="col-sm-12">
      <form role="form">
        <h3>Contact the owner of <%= @asset.title %></h3>
        <div class="form-group">
          <input type="text" class="form-control" id="subject" name="subject" placeholder="Proposition for your house US$<%= @asset.price%> " disabled>
        </div>

        <div class="form-group">
          <textarea class="form-control" type="textarea" id="message" placeholder="Hello <%= @asset.user.first_name %> <%= @asset.user.last_name %>" maxlength="140" rows="7"></textarea>
        </div>
        <button type="button" id="submit" name="submit" class="btn btn-lg btn-primary pull-right">Send a message</button>
      </form>
    </div>
  </div>

   <div class="individual-map">
        <div id="individual-map" style="min-width: 100%; height: 400px;"></div>
                          <% content_for(:after_js) do %>
                           <script>
                           // console.log(markers);
                            $(document).ready(function() {
                              initMapIndividual(getOneMarker());
                            });
                            // console.log(markers);
                            // });
                            </script>
                          <% end %>
      </div>
</div>

