<div class="container">
  <div class="row show-asset padded-asset", style="padding-top: 20px;">
    <div class="col-sm-8" data-id="<%=@asset.id%>" data-longitude="<%= @asset.longitude %>" data-latitude="<%= @asset.latitude %>">
      <h1>
        <%= @asset.title %>
        <% if current_user %>
          <% if current_user.id != @asset.user.id %>
            <p><small>from <%= link_to @asset.user.first_name, user_path(id: @asset.user.id) %></small></p>
          <% end %>
        <% else %>
            <p><small>from <%= link_to @asset.user.first_name, user_path(id: @asset.user.id) %></small></p>
        <% end %>
      </h1>
      <h6>On Findaroof for <%= time_ago_in_words @asset.created_at %></h6>
      <div class="row">
        <div class="col-sm-6">
          <p><%= @asset.address %></p>
          <p><%= @asset.city %> - <%= @asset.region %> - <%= @asset.country %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h1 class="text-right">US$<%= @asset.price%></h1>
      <ul class="list-unstyled">
        <% if !current_user %>
        <li><%= link_to "Make Offer", new_user_registration_path, {class: "btn btn-md btn-pricing btn-info"} %></li>
        <% else %>
        <% if current_user.id == @asset.user.id %>
        <li><button type="button" class="btn btn-md btn-pricing btn-primary" data-toggle="modal" data-target="#myModal3">Edit your Asset</button></li>
        <li><%= link_to "Remove from listing", user_asset_path(user_id: @user.id), class: "btn btn-md btn-pricing btn-danger", method: :delete %></li>
      </ul>
    </div>
              <div class="modal fade" id="myModal3" role="dialog">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit your Listing</h4>
                      </div>
                      <div class="modal-body">
                        <%= render "form" %>
                      </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
                </div>
          <% else %>
            <li><button type="button" class="btn btn-md btn-pricing btn-primary" data-toggle="modal" data-target="#myModal1">Book an Appointment</button></li>
              <li><button type="button" class="btn btn-md btn-pricing btn-info" data-toggle="modal" data-target="#myModal2">Make an Offer</button></li>
                <div class="modal fade" id="myModal1" role="dialog">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Book Appointment</h4>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for [current_user, @asset, Appointment.new], :url => user_asset_appointments_path(current_user, @asset) do |f| %>
                        <%= f.input :date, label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
                        <%= f.input :time, label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
                        <a class="text-center" "><%= f.submit "Arrange an appointment", class: "btn btn-primary" %></a>
                        <% end %>

                      </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="myModal2" role="dialog">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                        <h4 class="modal-title">Make an Offer</h4>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for [current_user, @asset, Offer.new] do |f| %>
                        <%= f.input :offer_date, label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
                        <%= f.input :offer_type, label: "Offer Amount", label_html: {class: "new-asset-form-label"},wrapper_html: {class: 'new-asset-form-group'}, input_html: {class: "new-asset-form-field"} %>
                        <%= f.submit "Make Offer", class: "btn btn-primary new-asset-submit-btn" %>
                        <% end %>
                      </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
                </div>
                <li><%= link_to "Favorite", favorite_asset_path(type: "favorite", id: @asset.id), method: :post, class: "btn btn-md btn-pricing btn-success"  %></li>
                <li><%= link_to "Unfavorite", favorite_asset_path(type: "unfavorite", id: @asset.id), method: :post, class: "btn btn-md btn-pricing btn-danger" %></li>

        <% end %>
        <% end %>
        </ul>
         <%= render "popup_gallery" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row show-asset padded-asset" >
    <div class="col-sm-8 left-half-factbox">
        <h4>Description</h4>
        <p class="description-box"><%=@asset.description%></p>
    </div>
    <div class="col-sm-4">

        <div class="col-sm-12 right-half-factbox">
            <h4>Facts</h4>
              <ul style="list-style: none; list-style-position: inherit; margin: 0px; padding: 0px;">
              <li class="description-facts"><i class="fa fa-area-chart 2x"></i> Area: <%= @asset.lots_size %> m2  </li>
              <li class="description-facts"><i class="fa fa-bed 2x"></i> Bedrooms: <%= @asset.bedrooms %></li>
              <li class="description-facts"><i class="fa fa-bath 2x"></i> Bathrooms: <%= @asset.bathrooms %></li>
              <li class="description-facts"><i class="fa fa-car 2x"></i> Garage spots:  <%= @asset.garage %> <i></i></li>
              <li class="description-facts"><i class="fa fa-home 2x"></i> Year Built: <%= @asset.year_built %> </li>

          </div>
        </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <form role="form">
        <h3>Contact the owner of <%= @asset.title %></h3>
        <div class="form-group">
          <input type="text" class="form-control" id="subject" name="subject" placeholder="Proposition for your house US$<%= @asset.price%> " disabled>
        </div>

        <div class="form-group">
          <textarea class="form-control" type="textarea" id="message" placeholder="Hello <%= @asset.user.first_name %> <%= @asset.user.last_name %>" maxlength="140" rows="7"></textarea>
        </div>
        <button type="button" id="submit" name="submit" class="btn btn-lg btn-primary pull-right">Send a message</button>
      </form>
    </div>
  </div>

   <div class="individual-map">
        <div id="individual-map" style="min-width: 100%; height: 400px;"></div>
                          <% content_for(:after_js) do %>
                           <script>
                            $(document).ready(function() {
                              initMapIndividual(getOneMarker());
                            });
                            </script>
                          <% end %>
    </div>
</div>

