<h1 class="text-center"> All My Appointments</h1>
  <div class="container">
    <div class="row">
    <%= week_calendar events: @appointments do |date, appointments| %>
      <% appointments.each do |appointment| %>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 smallercard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/400/400/sports');">
              <h4>You have arranged an appointment with <%= appointment.asset.user.first_name %> for <%= appointment.asset.title %></h4>
              <h4><%= appointment.date %></h4>
              <%= link_to 'See more', edit_user_asset_appointment_path( appointment.user, appointment.asset, appointment) %>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
